@import "../themes.scss";

.ContactUsContainer {
  width: 100%;
  height: 100%;
  justify-content: space-evenly;
  align-items: center;
}

.ContactUsTopContainer {
  width: 80%;
  height: 8%;
  flex-direction: row;
  align-items: flex-end;
}

.ContactUsTopTitleContent {
  text-align: center;
  justify-content: center;
  font-weight: 500;
  font-size: 20px;
}

.ContactUsBackButton {
  width: 40px;
  height: 40px;
  background-color: $color-light-blue;
  border-radius: $border-radius-main;
  justify-content: center;
  align-items: center;
}

.ContactUsBackButtonsContain {
  flex-direction: row;
  width: 100%;
  height: 100%;
  align-items: flex-end;
  justify-content: space-between;
}

.ContactUsBackTitleContain {
  width: 100%;
  position: absolute;
  height: 40px;
  justify-content: center;
}

.ContactUsBackChangeLangaugeLogo {
  width: 40px;
  height: 40px;
  align-items: center;
  justify-content: center;
}
.ContactUsBackButtonImage {
  width: 20px;
  height: 20px;
}

.ContactUsBodyContainer {
  width: 80%;
  height: 60%;
  background-color: $color-white;
  border-width: 0.5px;
  border-color: $color-gray;
  border-radius: $border-radius-main;
}

.ContactUsFooterContainer {
  width: 80%;
  height: 17%;
  background-color: $color-white;
  border-width: 0.5px;
  border-color: $color-gray;
  border-radius: $border-radius-main;
}

.ContactUsFooterContainersm {
  width: 80%;
  height: 22%;
  background-color: $color-white;
  border-width: 0.5px;
  border-color: $color-gray;
  border-radius: $border-radius-main;
}

.ContactUsFooterGroupButtonContainer {
  flex-direction: row;
  width: 100%;
  height: 100%;
  justify-content: space-evenly;
  align-items: center;
}

.ContactUsFooterGroupButtonTitleBox {
  justify-content: space-between;
  align-items: center;
  height: 65%;
  width: 50%;
}

.ContactUsFooterGroupButtonBox {
  background-color: $color-light-gray;
  padding: 10px;
  border-radius: $border-radius-main;
  justify-content: center;
  align-items: center;
}

.ContactUsFooterImageButtonBox {
  width: 40px;
  height: 40px;
}

.ContactUsFooterImageTitleButtonBox {
  font-family: $kantumruy-regular;
  text-align: center;
}

.ContactUsRowQandAContainer {
  width: 100%;
  // background-color: red;
}

.ContactUsBodyRowContainer {
  width: 100%;
  flex-direction: row;
  align-items: flex-start;
}

.ContactUsBodyTitleRowContainer {
  flex: 1;
  width: 100%;
  background-color: $color-light-gray;
  padding: 10px;
  border-radius: $border-radius-main;
  border-width: 0.5px;
  border-color: $color-gray;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
