@import "../themes.scss";

.containerHeaderVertical {
  width: 100%;
  height: 7%;
  justify-content: flex-end;
}

.containerHeader {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100%;
}

.titleContainer {
  flex-direction: row;
  align-items: center;
  // padding-left: 15px;
  // padding-right: 15px;
}

.logoHeader {
  border-radius: 100px;
  border-width: 0.5px;
  border-color: #dcdcdc;
}

.headerTitle1 {
  font-weight: bold;
  font-family: "Kantumruy-Bold";
}

.headerTitle2 {
  font-family: "Kantumruy-Regular";
}

.headerTitle3 {
  font-family: "Kantumruy-Regular";
}
