@import "../../themes.scss";

.containerLogin {
  flex: 1;
  background-color: white;
}

.imagebackgroundios {
  flex: 1;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: flex-start;
}

.imagebackgroundandroid {
  flex: 1;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: flex-end;
}

.logoLoginScreen {
  width: 130px;
  height: 30%;
  justify-content: center;
  align-items: center;
}

.logoLoginScreensm {
  width: 90px;
  height: 20%;
  justify-content: center;
  align-items: center;
}

.titleLogin {
  font-family: $bayon-regular;
  font-weight: bold;
  color: $color-main;
}

.inputTitle {
  font-family: $font-body;
}

.textinput {
  border-color: #dcdcdc;
  border-width: 1px;
  border-radius: $border-radius-main;
  width: 100%;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  background-color: white;
}

.textinputContainer {
  width: 80%;
  align-items: flex-start;
}

.buttonContainer {
  background-color: $color-main;
  width: 80%;
  height: 40px;
  border-radius: $border-radius-main;
  justify-content: center;
  align-items: center;
}

.buttonText {
  color: white;
  font-weight: bold;
  font-family: $bayon-regular;
}

.optionContainer {
  flex-direction: row;
  width: 80%;
  height: 50px;
  justify-content: flex-end;
  align-items: center;
}

.checkbox {
  margin: 0px;
}

.forgotContainer {
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
}

.LoginForgetText {
  font-family: $kantumruy-bold;
}
