.PaymentContainer {
  width: 100%;
  height: 100%;
  align-items: center;
}

.PaymentTitleContainer {
  width: 95%;
  // height: 40px;
}

.PaymentTitle1 {
  width: 50%;
  color: #3c6efb;
  font-family: "Kantumruy-Bold";
  text-align: left;
}

.PaymentTitle2 {
  width: 25%;
  color: #3c6efb;
  font-family: "Kantumruy-Bold";
  text-align: center;
}

.PaymentTitle3 {
  width: 18%;
  color: #3c6efb;
  font-family: "Kantumruy-Bold";
  text-align: right;
}

.PaymentBody1 {
  width: 50%;
  font-family: "Kantumruy-Regular";
  text-align: left;
}

.PaymentBody2 {
  width: 25%;
  font-family: "Kantumruy-Regular";
  text-align: center;
}
