@import "../themes.scss";

.ProfileContainer {
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: space-between;
}

.ProfileTopContainer {
  width: 95%;
  height: 25%;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.ProfileTopContainersm {
  width: 95%;
  height: 30%;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.ProfileImageViewHolder {
  width: 40%;
  height: 100%;
  justify-content: center;
  align-items: center;
}

.ProfileStyleBackgroundProfile {
  width: 120px;
  height: 120px;
  border-radius: 100px;
  // border-width: 1px;
  // border-color: $color-main;
  position: absolute;
}

.ProfileImage {
  width: 110px;
  height: 110px;
  border-radius: 100px;
  border-width: 1px;
}

.ProfileImagesm {
  width: 80px;
  height: 80px;
  border-radius: 100px;
  border-width: 1px;
}

.ProfileImageFrame {
  width: 120px;
  height: 120px;
  border-radius: 100px;
  position: absolute;
  border-width: 1px;
  border-color: $color-main;
}

.ProfileImageFramesm {
  width: 90px;
  height: 90px;
  border-radius: 100px;
  position: absolute;
  border-width: 1px;
  border-color: $color-main;
}

.ProfileTopTitleContainer {
  width: 60%;
  justify-content: center;
  margin-left: 10px;
}

.ProfileTopTitleName {
  font-family: "Kantumruy-Bold";
}

.ProfileTopBodytext {
  font-family: "Kantumruy-Regular";
}

.ProfileLogoutButtonBox {
  width: 100%;
  height: 40px;
  background-color: $color-main;
  justify-content: center;
  align-items: center;
  border-radius: $border-radius-main;
  margin-bottom: 20px;
}

.ProfileLogoutButtonText {
  color: $color-white;
  font-family: $kantumruy-bold;
}

.ProfileMiddleContainer {
  width: 95%;
  height: 80%;
}

.ProfileMiddleCard {
  background-color: $color-white;
  height: 60px;
  justify-content: space-between;
  align-items: center;
  padding-left: 10px;
  flex-direction: row;
  border-bottom-width: 0.5px;
  border-color: $color-grey;
}

.ProfileMiddleCardImage {
  width: 20px;
  height: 20px;
  margin-right: 10px;
}

.ProfileBottomContainer {
  width: 95%;
  height: 10%;
  justify-content: flex-end;
}

.ProfileMiddleCardLeftContent {
  flex-direction: row;
}
