@import "../themes.scss";

.ScheduleContainer {
  width: 100%;
  height: 100%;
  justify-content: flex-start;
  align-items: center;
}

.ScheduleTopContainer {
  width: 95%;
  flex-direction: row;
  justify-content: space-between;
}

.ScheduleDayBox {
  justify-content: center;
  align-items: center;
  border-radius: $border-radius-main;
  background-color: #fff;
  border-width: 0.5px;
  border-color: $color-gray;
}

.ScheduleDayInsideBoxCircle {
  border-radius: 100px;
  justify-content: center;
  align-items: center;
}
.ScheduleDayTextStyle {
  font-family: $kantumruy-bold;
  color: white;
  font-size: 12px;
}

.ScheduleOnSelectStyle {
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.ScheduleOnSelectTextStyle {
  font-family: $kantumruy-regular;
}

.ScheduleBodyContainer {
  width: 100%;
  height: 80px;
  flex-direction: row;
  align-items: center;
  margin-top: 10px;
  border-width: 0.5px;
  border-color: $color-gray;
  border-radius: $border-radius-main;
  padding: 10px;
}

.ScheduleBodyTeacherImageContainer {
  width: 60px;
  height: 60px;
  border-width: 0.5px;
  border-color: $color-gray;
  justify-content: center;
  align-items: center;
  border-radius: $border-radius-main;
  margin-right: 10px;
}

.ScheduleTeacherImage {
  width: 40px;
  height: 40px;
  border-radius: 50px;
}

.ScheduleBodyHourBox {
  height: 100%;
  justify-content: space-evenly;
  margin-right: 10px;
}

.ScheduleBodyDescription {
  flex: 1;
}

.ScheduleBodyHourText {
  font-family: $kantumruy-regular;
}

.ScheduleBodyDescriptionTitle {
  font-family: $kantumruy-bold;
}

.ScheduleBodyDescriptionText {
  font-family: $kantumruy-regular;
}
