.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.bodyContainer {
  height: 83%;
  width: 100%;
}

.bodyContainerForNotificationPath {
  height: 93%;
  width: 100%;
}
