@import "../themes.scss";

.SocialMediaContainer {
  width: 100%;
  height: 100%;
  justify-content: flex-start;
  align-items: center;
}

.SocialMediaTopContainer {
  width: 80%;
  height: 10%;
  justify-content: center;
  align-items: center;
}

.SocialMediaTopTitleContent {
  font-weight: 500;
  // font-size: 20px;
}

.SocialMediaBodyContainer {
  width: 80%;
  height: 80%;
  background-color: $color-white;
  // border-width: 0.5px;
  border-color: $color-gray;
  border-radius: $border-radius-main;
}

.SocialMediaBodyContentContainer {
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  // padding: 10px;
}

.SocialMediaCardRowStyle {
  width: 100%;
  // padding: 10px;
  background-color: $color-light-grey;
  border-radius: $border-radius-main;
  // border-width: 0.5px;
  border-color: $color-gray;
  // margin-bottom: 10px;
  flex-direction: row;
  align-items: center;
}

.SocialMediaIconStyle {
  width: 60px;
  height: 60px;
}

.SocialMediaNextIconStyle {
  width: 20px;
  height: 20px;
}

.SocialMediaTitleStyle {
  flex: 1;
  text-align: left;
  // padding-left: 10px;
}
